body {
    background-color: #F7C9AA;
}

.overskrift {
    display: flex;
    justify-content: center;
}



#ret {
    padding: 10px;
    cursor: pointer;
    background-color: #F59079;
}


.buttons {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.buttons .left,
.buttons .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    align-items: center;
    background-color: #EE937E;
    width: 120px;
    height: 30px;
    margin: 5px 5px;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.kategorinavn {
    display: flex;
    justify-content: center;
}


.container {
    width: 90vw;
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.filter {
    cursor: pointer;
}

article {
    display:flex;
    flex-direction: column;

}

.billede {
    display: flex;
    justify-content: center;
}

.billede img {
    max-width: 100%;
}

footer {
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-color: #EE937E;
    padding: 1px 1px;
    justify-content: space-between;
    margin-top: 30px;
}

footer h5 {
    color: white;
    line-height: 0.2pt;
    margin-bottom: 15px;
}

footer a {
    color: black;
    text-decoration: none;
}


footer .footer_logo {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
}

footer .footer_logo img {
    max-width: 30%;
}



footer .socialmedia {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
}

footer img {
    max-width: 30%;
}



footer .contact {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
}






/**************************Pop-up vindue**********************/
/**************************Start**********************/


#popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #F5907970;
    display: none;
    border: 2px solid #F25A72;
}

#popup article {
    width: 80vw;
    height: auto;
    margin: 4rem auto;
    background-color:  #F59079;
    border: 5px solid white;
}

#popup .luk {
    position: fixed;
    top: 55px;
    right: 25px;
    background-color: #F5907970;
    color: black;
    border-radius: 5px;
    padding: .1rem;
    cursor: pointer;
}

#popup .detaljer {
    padding: 10px;
}

#popup img {
    max-width: 50%;
    padding: 10px;

}

/**************************Pop-up vindue**********************/
/**************************Slut**********************/


/***********************************/
/**************mediaQ***************/
/***********************************/

@media(min-width: 800px) {

    footer {
        display: flex;
        flex-direction: row;
        background-size: cover;
        background-color: #EE937E;
        padding: 5px 60px;
        justify-content: space-between;
        margin-top: 30px;
    }

    footer .socialmedia {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-top: 50px;
    }

    footer .socialmedia img {
        width: 35vw;
        height: auto;
    }


   h1 {
        display: flex;
        justify-content: center;
        padding: 20px;
    }

    .buttons {
        display: flex;
        justify-content: center;
    }


    button {
        align-items: center;
        background-color: #EE937E;
        width: 120px;
        height: 30px;
        margin: 5px 5px;
        align-items: center;
        justify-content: space-around;
        cursor: pointer;
        flex-direction: row;
    }

    .buttons .left,
    .buttons .right {
        display: flex;
        flex-direction: row;
    }

    **************************Pop-up vindue**********************/
/**************************Start**********************/


#popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #F5907970;
    display: none;
    border: 2px solid #F25A72;
}

#popup article {
    width: 80vw;
    height: auto;
    margin: 4rem auto;
    background-color:  #F59079;
    border: 5px solid white;
    flex-direction: row;
}

#popup .luk {
    position: fixed;
    top: 55px;
    right: 100px;
    background-color: #F5907970;
    color: black;
    border-radius: 5px;
    padding: .1rem;
    cursor: pointer;
}

#popup .detaljer {
    padding: 10px;
}

#popup img {
    width: 100%;
    height: auto;
    padding: 10px;

}

#popup
/**************************Pop-up vindue**********************/
/**************************Slut**********************/





}
